:root {
	--vp-c-green: #10b981;
	--vp-c-green-light: #34d399;
	--vp-c-green-lighter: #5fddab;
	--vp-c-green-dark: #059669;
	--vp-c-green-darker: #047857;

	--vp-c-brand-3: var(--vp-c-green);
	--vp-c-brand-2: var(--vp-c-green-light);
	--vp-c-brand-1: var(--vp-c-green-lighter);

	--vp-home-hero-name-color: var(--vp-c-green);

	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(315deg, var(--vp-c-green) 25%, #647eff);
}

pre * {
	tab-size: 2 !important;
}

.v-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.custom-button,
.v-form button {
	display: inline-flex;
	justify-content: center;
	padding: 0.5rem 1.5rem;
	font-size: 0.875rem;
	font-weight: 600;
	border: 1px solid rgb(209, 213, 219);
	border-radius: 0.375rem;
	background: rgba(209, 213, 219, 0.2);

	&:hover {
		background: rgba(209, 213, 219, 0.4);
	}
}

label {
	display: flex;
	flex-direction: column;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 600;
	padding-left: 1rem;

	& select,
	input:not([type='checkbox']):not([type='radio']),
	textarea {
		&.v-input {
			font-family: inherit;
			appearance: none;
			border: 1px solid rgb(209, 213, 219);
			border-radius: 0.375rem;
			padding: 0.5rem 1rem;
			margin-left: -1rem;
			margin-top: 0.25rem;
			font-size: 1rem;
			line-height: 1.5rem;
			box-shadow: 0 2px 2px #0000000d;
		}
	}
}
